* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
}

header {
    border-bottom: 2px solid rgba(0,0,0,.15);
}

header ._inner {
    display: flex;
    height: 58px;
}

header a {
    margin: auto 16px;
}

header .logo {
    width: 40px;
    height: 40px;
    display:none;
}

header .content_text {
    width: 100%;
    text-align: right;
    margin: auto 16px;
}

header .content_text h1 {
    font-weight: 400;
    opacity: .75;
}

header .content_text h4 {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
}

.jumbotron {
    width: 100%;
}

h2 {
    text-align: center;
    padding: 8px 0;
    font-weight: 400;
    height: 48px;
    opacity: .75;
}

section {
    display: flex;
    flex-wrap: wrap;
}

section article {
    width: 100%;
    display: flex;
    margin-bottom: 8px;
}

section article:last-child {
    margin-bottom: 0px;
}

section article img, section article .content_text {
    width:50%;
}

section article img {
    height: 100%;
}

article .content_text {
    text-align: center;
    padding: 8px;
}

article .content_text h3 {
    font-weight: 400;
    opacity: .75;
}
