* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    color: #2d3c49;
}

header {
    border-bottom: 4px solid #7d97ad;
}

header ._inner {
    display: flex;
    height: 58px;
}

header a {
    margin: auto 16px;
}

header .logo {
    width: 40px;
    height: 40px;
}

header .content_text {
    width: 100%;
    text-align: right;
    margin: auto 16px;
}

header .content_text h1 {
    font-weight: 400;
    opacity: .75;
}

header .content_text h4 {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
}

.jumbotron {
    width: 100%;
}

h2 {
    text-align: center;
    padding: 8px 0;
    font-weight: 400;
    height: 48px;
    opacity: .75;
    color: #7d97ad;
}

.featured_works {
    display: flex;
    flex-wrap: wrap;
}

.featured_works article {
    width: 100%;
    display: flex;
    margin-bottom: 8px;
}

.featured_works article:last-child {
    margin-bottom: 0px;
}

.featured_works article picture {
  width: 50%;
}

.featured_works article img {
    width: 100%;
}

.featured_works article .content_text {
    width:50%;
}

.featured_works article img {
    height: 100%;
}

article .content_text {
    text-align: center;
    padding: 8px;
}

article .content_text * {
  margin-bottom: 8px;
}

article .content_text h3 {
    font-weight: 400;
    opacity: .75;
}

article .content_text p {
  overflow-wrap: break-word;
}
